*,html,body
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: darkgrey;
    height: 112px;
    line-height: 160px;
}

ul
{
    list-style: none;
}

ul li
{
    display: inline-block;
}

header nav
{
    float: right;
}

.logo img
{
    padding-top: 50px; 
    padding-left: 30px;
}

header nav ul li a
{
    padding-right: 30px;  
    font-weight: bold;
    color: white;
    transition: all 0.3s ease-in;
    
}

header nav ul li a:hover
{
    text-decoration: none;
    color: orange;
    
}