.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: orange;
}
.faq{
    padding-bottom: 20;
    padding-top: 8px;
}
table {
    border-collapse: collapse
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.boxed{
    border: 1px solid orange;
    width: 100%;
    border-radius: 10px;
}
.sidebarWrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
    border-right: 1px;
    border-color: gray;
}

.categories {
    border-style: groove;
    border-color: orange;
    border-width: 5px;
    width: 150px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    margin: auto;
}

.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer.bg-dark a {
    color: white;
}

footer div.left-padding {
    padding-left: 2rem;
}

footer div.font {
    color: white;
}

.prova {
    padding-left: 200px;
    padding-right: 200px;
    align-content: center;
}

.col-centered {
    float: none;
    margin: auto;
}

.dropdown-menu {
    min-width: 0;
    padding: 0 0.5rem;
    border-width: 0;
}

.dropdown-menu li {
    padding: 0.75rem 1.5rem 0.75rem 1rem;
}

.dropdown-menu li a {
    color: rgba(255, 255, 255, .5);
}

.slider-holder {
    width: 800px;
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder {
    width: 2400px;
    background-color: white;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image {
    float: left;
    margin: 25px;
    padding: 17px;
    position: relative;
}

#slider-image-1:target~.image-holder {
    left: 0px;
}

#slider-image-2:target~.image-holder {
    left: -800px;
}

#slider-image-3:target~.image-holder {
    left: -1600px;
}

.button-holder {
    position: relative;
    top: -65px;
}

.slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    margin-right: 4rem;
    margin-left: 4rem;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: white;
    color: #666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav li.nav-item button {
    padding: 0.35rem 0.5rem 0.25rem 0.5rem;
}

@media (min-width: 992px) {
    .navbar-nav li.right {
        margin-left: auto !important;
    }
    .navbar-nav li.nav-item button {
        margin-left: .5rem;
    }
}

.navbar-nav li.nav-item button {
    margin-left: .5rem;
    background-color: #343a40 !important;
    border-color: #FFFFFF;
}

@media (max-width: 992px) {
    .navbar-nav li.right {
        margin-left: 0;
    }
    .navbar-nav li.nav-item button {
        margin-left: 0;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .searchbar {
        margin-bottom: 1rem;
    }
}

.container {
    /*margin: 0 0;
  max-width: 100%;*/
}

.searchbar {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.125);
    color: white;
    border-radius: 5px;
    border-width: 0px;
    padding-left: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.25rem;
}

.searchbar:focus {
    background-color: rgba(255, 255, 255, 0.875);
    color: black;
}

.searchbar:focus::placeholder {
    color: #343a40;
}

.searchbar::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
}

.bg-white {
    background-color: white;
}

.mandarin {
    color: orange;
}

/*
@media (min-width: 768px) {
  .slick-slide img {
  margin-right: 2.6rem;
  }
}
*/

.slick-slide img {
    margin-right: 2.6rem;
}

/*
@media (max-width: 768px) {
  .slick-slide img {
    margin-right: 1.3rem;
  }
}

@media (max-width: 300px) {
  .slick-slide img {
    margin-right: 0;
  }
}
*/

.multiple-items {
    margin-bottom: 2rem;
}


ul#genre_list li p {
    margin-bottom: 0.2rem;
}

ul#genre_list li p::first-letter {
    text-transform: uppercase;
}

ul#theme_list li p {
    margin-bottom: 0.2rem;
}

ul#theme_list li p::first-letter {
    text-transform: uppercase;
}

ul#best_list li p {
    margin-bottom: 0.2rem;
}

ul#best_list li p::first-letter {
    text-transform: uppercase;
}

@media (max-width: 575px) {
    .book-element-image {
        width: 80%;
        max-width: 300px;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
}

@media (min-width: 576px) {
    .book-element-image {
        width: 90%;
        max-width: 200px;
        cursor: pointer;
    }
}

.book-element .title {
    font-size: 1.8rem;
    cursor: pointer;
}

.book-element .author {
    font-size: 1.4rem;
    cursor : pointer;
}

.book-element .price {
    font-size: 1.2rem;
}

.book-element .tags {
    font-size: 1rem;
}

.book-element .buttons {
    display: inline-block;
}

.book-element .buttons button{
    display: inline-block;
    margin-right: 1rem;
}

@media (min-width: 992px) {
    .book-element .description {
        font-size: 0.9rem;
        width:80%;
    }
}

@media (max-width: 991px) {
    .book-element .description {
        font-size: 0.8rem;
        width:100%;
    }
}

@media (max-width: 768px) {
    .book-element .description {
        font-size: 0.7rem;
        width:100%;
    }
    .book-element .title {
        font-size: 1.6rem;
    }
    
    .book-element .author {
        font-size: 1.1rem;
    }
    
    .book-element .price {
        font-size: 0.9rem;
    }
    
    .book-element .tags {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .book-element .title {
        text-align: center;
    }
}

.list-title {
    font-size: 2rem;
    text-transform: uppercase;
    display: none;
}

.add-to-cart {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 1rem;
    color: white;
    background-color: #343a40!important;
}

.more-details, .show-map{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 1rem;
    color: white;
    background-color: orange!important;
}

.theme_element, .best_seller_element, .favourite_element, .genre_element {
    color: black;
}

#element-list-nav .page-item a{
    color: orange;
}

#element-list-nav .active a{
    color: white;
    background-color: orange;
    border-color: darkorange;
}


#map {
    margin: auto;
    margin-top: 15px;
    width: 95%;
    height: 250px;
}

.container-small{
    max-width: 80%;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.slider-img {
    height: 240px;
}

@media (min-width: 576px) {
    .container-small {
        width: 504px;
    }
    #map {
        width: 90%;
        height: 300px;
    }
    .slider-img {
        height: 260px;
    }
} 
@media (min-width: 768px) {
    .container-small {
        width: 504px;
    }
    #map {
        width: 85%;
        height: 350px;
    }
    .slider-img {
        height: 280px;
    }
} 
@media (min-width: 992px) {
    .container-small {
        width: 504px;
    }
    #map {
        width: 80%;
        height: 400px;
    }
    .slider-img {
        height: 300px;
    }
} 
@media (min-width: 1200px) {
    .container-small {
        width: 504px;
    }
    #map {
        width: 75%;
        height: 450px;
    }
}

.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.switch-flat {
	padding: 0;
	background: #FFF;
	background-image: none;
}
.switch-flat .switch-label {
	background: #FFF;
	border: solid 2px #eceeef;
	box-shadow: none;
}
.switch-flat .switch-label:after {
	color: orange;
}
.switch-flat .switch-handle {
	top: 6px;
	left: 6px;
	background: #dadada;
	width: 22px;
	height: 22px;
	box-shadow: none;
}
.switch-flat .switch-handle:before {
	background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: orange;
}
.switch-flat .switch-input:checked ~ .switch-handle {
	left: 72px;
	background: orange;
	box-shadow: none;
}

#message {
    position: fixed;
    top: 0;
    margin: 80px 10% 0 10%;
    left: 0;
    width: 80%;
    z-index: 1040;
    background-color: #e74c3c;
    border-radius: 10px;
    display: none;
}
#inner-message {
    text-align: center;
    margin: 0 auto;
    color: white;
}