.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer.bg-dark a{
	color: white;
}

footer div.left-padding{
	padding-left: 2rem;
}

footer div.font{
	color: white;
}
.prova{
    padding-left: 200px;
    padding-right: 200px;
    align-content: center;
}

.col-centered{
    float: none;
    margin: auto;
}